.logo {
  height: 100%;
}

.openGallaryButton {
  text-shadow: 1px 1px 1px white;
}
.homeButton {
  width: 60%;
  text-shadow: 2px 2px 2px black;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallaryButtons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (max-width: 650px) {
  .logo {
    width: 60px;
  }
  .headingLogo {
    font-size: 1.5rem;
  }
  .homeButton {
    padding: 1rem 2rem;
    width: 80%;
    font-size: 1.4rem;
    background-size: 100%;
    letter-spacing: 0.6rem;
  }
  .gallaryButtons {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 650px) and (max-width: 770px) {
  .logo {
    width: 60px;
  }
  .headingLogo {
    font-size: 2rem;
  }
}
